.product-section {
  text-align: center;
}

.widgets-section {
  margin-top: 40px;
  /* background-color: #55afff0d; */
  padding: 0 20px;
}

.widgets-section h2 {
  color: #dd4813;
}

.title {
  padding: 30px 0;
}

@media only screen and (max-width: 600px) {
  .product-section {
    padding: 10px;
  }
}