.product-section {
  text-align: center;
  padding: 20px;
}

.title {
  padding: 35px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: start;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .product-section {
    padding: 10px;
  }
}