.newsletter {
  text-align: center;
  padding: 50px 0;
}

.newsletter .fields {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.newsletter .fields input {
  padding: 10px;
  margin: 10px;
  width: 80%;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  .newsletter {
    padding: 55px 20px;
  }
}